<template>
  <v-dialog v-model="showCreateAccountModal" width="500">
    <v-card>
      <v-card-title>Create Account</v-card-title>
      <v-card-text>
        <v-form v-model="valid" @submit.prevent="createAccount">
          <v-text-field label="Username" v-model="username" required></v-text-field>
          <v-text-field label="Email" v-model="email" type="email" required></v-text-field>
          <v-text-field label="Password" type="password" v-model="password" required></v-text-field>
          <v-btn type="submit" :disabled="!valid">create</v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios';
const API_URL = 'http://localhost:8000/';
export default {
  data() {
    return {
      showCreateAccountModal: false,
      username: '',
      email: '',
      password: '',
      valid: false
    };
  },
  methods: {
    showModal() {
      this.showCreateAccountModal = true;
    },
    hideModal() {
      this.showCreateAccountModal = false;
    },
    async createAccount() {
      try {
        const userInfo = {
          username: this.username,
          email: this.email,
          password: this.password
        };
        const user = await axios.post(API_URL + 'register/', userInfo)
        this.hideModal();
      } catch (error) {
        console.error('Create account error:', error);
      }
    },
  }
};
</script>
