<template>
<v-card class="mx-auto" prepend-icon="mdi-home">
  <template v-slot:title>
    Questions?
  </template>
  <v-card-text>
    <v-row>
      <v-col cols="9">
        <p>Ask them in natural language, like you would a friend.
          Get clear and precise answers.
          Navigate easily thanks to an intuitive tree structure.</p>
      </v-col>
      <v-col cols="3">
        <v-row justify="center">
          <v-btn color="primary" block @click="dialog = true" width="300px">
            Add Question
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-card-text>

  <v-dialog v-model="dialog" max-width="600px">
    <v-card>
      <v-card-title>Add Question</v-card-title>
      <v-card-text>
        <v-form @submit.prevent="saveQuestion">
          <v-text-field v-model="question.title" label="Question" required></v-text-field>
          <v-textarea v-model="question.content" label="Content description" required></v-textarea>
          <v-autocomplete v-model="question.theme" :items="themeNames" item-value="name" item-text="name" label="Theme" required></v-autocomplete>
          <v-btn color="blue darken-1" text type="submit">Save</v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false" style="margin-left:10px;">Close</v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</v-card>
</template>

<script>
import axios from 'axios';
const API_URL = 'http://localhost:8000/';

export default {
  data() {
    return {
      dialog: false,
      question: {
        title: '',
        content: '',
        theme: ''
      },
      themes: []
    };
  },
  computed: {
    themeNames() {
      return this.themes.map(theme => theme.name);
    }
  },
  async created() {
    try {
      const response = await axios.get(API_URL + 'api/faq/themes/');
      this.themes = response.data;
    } catch (error) {
      console.error('Error fetching themes:', error);
    }
  },
  methods: {
    async saveQuestion() {
      try {
        let config = {};
        const user = localStorage.getItem('user') ? JSON.parse(localStorage.getItem('user')) : null;
        if (user) {
          config = {
            headers: {
              Authorization: `Token ${user.token}`
            }
          };
        }
        const response = await axios.post(API_URL + 'api/faq/questions/', this.question, config);
        console.log('Question added:', response.data);
        this.resetForm();
        this.dialog = false;
      } catch (error) {
        console.error('Error adding question:', error);
      }
    },

    resetForm() {
      this.question.title = '';
      this.question.content = '';
      this.question.theme = '';
    }
  }
};
</script>

<style scoped>
.v-dialog--max-width {
  max-width: 600px !important;
}
</style>
