<template>
<v-app>
  <v-toolbar>
    <v-toolbar-title>MyFAQ</v-toolbar-title>
    <v-spacer></v-spacer>
    <template v-if="isUserAuthenticated">
      <v-btn>{{ user.username }}</v-btn>
      <v-btn icon="mdi-logout" @click="logout"></v-btn>
    </template>
    <template v-else>
      <v-btn v-if="!authenticated" @click="showCreateAccountModal">Create account</v-btn>
      <v-btn v-if="!authenticated" @click="showLoginFormModal">Sing in</v-btn>
    </template>
  </v-toolbar>

  <v-content>
    <v-container>
      <LoginForm ref="loginFormRef" @close="hideModal" @loginSuccess="onLoginSuccess" />
      <AccountForm ref="accountFormRef" @close="hideModal" @accountCreated="onAccountCreated" />
      <AddQuestionFrom />
      <Questions ref="questionsRef" :authenticated="authenticated" :userToken="user?.token" />
    </v-container>
  </v-content>
</v-app>
</template>

<script>
import LoginForm from './LoginForm.vue';
import Questions from './Questions.vue';
import AddQuestionFrom from './AddQuestionFrom.vue';
import AccountForm from './AccountForm.vue';
import {
  AuthService
} from '../authService.js';

export default {
  components: {
    LoginForm,
    Questions
  },
  data() {
    return {
      user: null,
      authenticated: false
    };
  },
  computed: {
    isUserAuthenticated() {
      return this.authenticated;
    }
  },
  methods: {
    logout() {
      AuthService.logout();
      this.user = null;
      this.authenticated = false;
      location.reload();
    },
    showLoginFormModal() {
      this.$refs.loginFormRef.showModal();
    },
    showCreateAccountModal() {
      this.$refs.accountFormRef.showModal();
    },
    hideModal() {
      this.$refs.loginFormRef.hideModal();
      this.$refs.accountFormRef.hideModal();
    },
    onLoginSuccess(user) {
      this.user = user;
      this.authenticated = true;
      location.reload();
    }
  },
  created() {
    const user = AuthService.getCurrentUser();
    if (user) {
      this.user = user;
      this.authenticated = true;
    }
  },
};
</script>
