<template>
  <v-dialog v-model="showLoginModal" width="500">
    <v-card>
      <v-card-title>Connexion</v-card-title>
      <v-card-text>
        <v-form v-model="valid" @submit.prevent="login">
          <v-text-field label="Username" v-model="username" required></v-text-field>
          <v-text-field label="Password" type="password" v-model="password" required></v-text-field>
          <v-btn type="submit" :disabled="!valid">Login</v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
  </template>
  
  <script>
  import { AuthService } from '../authService.js';
  
  export default {
    data() {
      return {
        showLoginModal: false,
        username: '',
        password: '',
        valid: false
      };
    },
    methods: {
      showModal() {
        this.showLoginModal = true;
      },
      hideModal() {
        this.showLoginModal = false;
      },
      async login() {
        try {
          const credentials = {
            username: this.username,
            password: this.password
          };
          const user = await AuthService.login(credentials);
          this.hideModal();
          this.$emit('loginSuccess', user);
        } catch (error) {
          console.error('Login error:', error);
        }
      },
    }
  };
  </script>
  