<template>
<v-card style="margin-top: 30px;" elevated="3">
  <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="start">
    <v-tab :value="1" @click="fetchQuestions" ref="allTab">All</v-tab>
    <v-tab v-if="authenticated" :value="2" @click="fetchUnansweredQuestions">No answer</v-tab>
  </v-tabs>
  <v-window v-model="tab">
    <v-window-item :value="1">
      <v-container fluid>
        <div>
          <v-expansion-panels class="mb-6">
            <v-expansion-panel @click="fetchAnswers(question.id)" v-for="(question, index) in questions" :key="index">
              <v-expansion-panel-title disable-icon-rotate>
                {{ question.title }}
                <template v-slot:actions>
                  <v-icon color="green" icon="mdi-check" v-if="question.answer_count > 0">
                  </v-icon>
                  <v-icon color="red" icon="mdi-alert-circle" v-else>
                  </v-icon>
                </template>
              </v-expansion-panel-title>
              <v-expansion-panel-text>
                <p>Question description : {{ question.content }}</p>
                <v-col>
                  <v-list :items="answers" item-props lines="three">
                    <template v-slot:subtitle="{ subtitle }">
                      <div v-html="subtitle"></div>
                    </template>
                  </v-list>
                </v-col>
                <v-col v-if="authenticated">
                  <v-form @submit.prevent="sendAnswerResponse(question.id)">
                    <v-textarea v-model="answerToSend" label="Write your answer" required></v-textarea>
                    <v-btn color="blue darken-1" text type="submit">Send</v-btn>
                  </v-form>
                </v-col>
              </v-expansion-panel-text>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </v-container>
    </v-window-item>
    <v-window-item :value="2" v-if="authenticated">
      <v-container fluid>
        <div>
          <v-expansion-panels class="mb-6">
            <v-expansion-panel v-for="(question, index) in unansweredQuestions" :key="index">
              <v-expansion-panel-title expand-icon="mdi-menu-down">
                {{ question.title }}
                <template v-slot:actions>
                  <v-icon color="green" icon="mdi-check" v-if="question.answer_count > 0">
                  </v-icon>
                  <v-icon color="red" icon="mdi-alert-circle" v-else>
                  </v-icon>
                </template>
              </v-expansion-panel-title>
              <v-expansion-panel-text>
                <p>Question description : {{ question.content }}</p>
                <v-col>
                  <v-form @submit.prevent="sendAnswerResponse(question.id)">
                    <v-textarea v-model="answerToSend" label="Write your answer" required></v-textarea>
                    <v-btn color="blue darken-1" text type="submit">Send</v-btn>
                  </v-form>
                </v-col>
              </v-expansion-panel-text>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </v-container>
    </v-window-item>
  </v-window>
</v-card>
</template>

<script>
import axios from 'axios';
const API_URL = 'http://localhost:8000/';

export default {
  data: () => ({
    tab: null,
    questions: [],
    unansweredQuestions: [],
    authenticated: false,
    answers: [],
    answerToSend: null,
    userAvatar: [
      "https://cdn.vuetifyjs.com/images/lists/1.jpg",
      "https://cdn.vuetifyjs.com/images/lists/2.jpg",
      "https://cdn.vuetifyjs.com/images/lists/3.jpg",
      "https://cdn.vuetifyjs.com/images/lists/4.jpg",
    ]
  }),
  methods: {
    async sendAnswerResponse(questionId) {
      try {
        const user = JSON.parse(localStorage.getItem('user'));
        await axios.post(API_URL + 'api/faq/answers/', {
          question: questionId,
          content: this.answerToSend,
        }, {
          headers: {
            Authorization: `Token ${user.token}`,
          },
        });
        this.answerToSend = null
        this.fetchAnswers(questionId)
        this.tab = 1;
        this.$refs.allTab.$el.click();
      } catch (error) {
        console.error('Error fetching answers:', error);
      }
    },
    async fetchQuestions() {
      try {
        let response;
        if (this.authenticated) {
          const user = JSON.parse(localStorage.getItem('user'));
          response = await axios.get(API_URL + 'api/faq/questions/', {
            headers: {
              Authorization: `Token ${user.token}`,
            },
          });
        } else {
          response = await axios.get(API_URL + 'api/faq/questions/');
        }
        this.questions = response.data;
      } catch (error) {
        console.error('Error fetching questions:', error);
      }
    },
    async fetchUnansweredQuestions() {
      try {
        const user = JSON.parse(localStorage.getItem('user'));
        const response = await axios.get(API_URL + 'api/faq/questions/no_answers/', {
          headers: {
            Authorization: `Token ${user.token}`,
          },
        });
        this.unansweredQuestions = response.data;
      } catch (error) {
        console.error('Error fetching unanswered questions:', error);
      }
    },
    async fetchAnswers(questionId) {
      this.answers = []
      try {
        const response = await axios.get(`${API_URL}api/faq/questions/${questionId}/`);
        const answers = response.data.answers;
        const mappedItems = [{
          type: 'subheader',
          title: `Answer(${answers.length})`,
        }];
        answers.forEach(answer => {
          const avatarIndex = Math.floor(Math.random() * this.userAvatar.length);
          const item = {
            prependAvatar: this.userAvatar[avatarIndex],
            subtitle: answer.content,
          };
          if (answer.author) {
            item.title = answer.author;
          }
          mappedItems.push(item);
          if (answers.indexOf(answer) !== answers.length - 1) {
            mappedItems.push({
              type: 'divider',
              inset: true
            });
          }
        });
        this.answers = mappedItems
      } catch (error) {
        if (error.response && error.response.status === 404) {
          return;
        }
        console.error('Error fetching answers:', error);
      }
    },
  },
  mounted() {
    const user = localStorage.getItem('user');
    this.authenticated = !!user;
    this.fetchQuestions();
  },
};
</script>
